hr{
    background-color: #2b2b2b;
}
.text-center{
    text-align: center;
}

.voting-timer {
    position: absolute;
    right: 0;
}
.voting-button-yes {
    left: 33%;
}
.voting-button-no {
    right: 33%;
}

.MuiAvatar-colorDefault {
    color: #121212!important;
    background-color: #757575!important;
}
.MuiDivider-root {
    background-color: rgba(255, 255, 255, 0.12)!important;
}
.question_disable {
    color: #fff!important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
    background-color: #42424200!important;
}

.question_actived {
    color: #fff!important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms!important;
    background-color: #424242!important;
}
.None{
    display: none;
}


.media {
    align-self:center;
    width: 50%;
    height: 50%;
}
.black {
    color: black!important;
}